<h1>Add member</h1>
<form action="/members" method="post">

  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" name="first_name" required>
  <br>
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" name="last_name" required>
  <br>
  <label for="membership-type">Membership type: </label>
  <select id="membership-type" name="membership_type">
    <option value="Standard">Standard</option>
    <option value="Premium">Premium</option>
  </select>
  <br>
  <input type="submit" value="Submit">

</form>
