<h1>Member Information</h1><br>
<div class="individuallisting">
  <p><b>Name:</b> <%= @member.full_name() %></p>
  <p><b>Membership Type:</b> <%= @member.membership_type %> </p>

  <form action="/members/<%= @member.id %>/edit" method="get" style="display:inline;">
    <input type="submit" value="Edit member">
  </form>

  <form action="/members/<%= @member.id %>/delete" method="post" style="display:inline;">
    <input type="submit" value="Delete member">
  </form><br><br>
</div>
