<button class="button" style="vertical-align:middle"><span><a href="/members">Members</a></span></button>
<button class="button" style="vertical-align:middle"><span><a href="/sessions">Classes</a></span></button>
<button class="button" style="vertical-align:middle"><span><a href="/bookings">Bookings</a></span></button>
<button class="button" style="vertical-align:middle"><span><a href="/trainers">Trainers</a></span></button>
