<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Git Pumped Gym</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <!-- <li><a href="/members">Members</a></li>
        <li><a href="/sessions">Classes</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/trainers">Trainers</a></li> -->
        <li style="float:right"><a href="/login">Log In</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
