<h2>Personal Trainers</h2>

<div class="grid">
  <div class="grid-row">

    <div class="cell"><div class="card">
      <img src="/images/trainer1.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Patrick Bateman</b></h4>
        <p>patrick@gitpumped.co.uk</p>
        <p>07777000001</p>
      </div>
    </div></div>

    <div class="cell"><div class="card">
      <img src="/images/trainer2.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Michael Scott</b></h4>
        <p>michael@gitpumped.co.uk</p>
        <p>07777000002</p>
      </div>
    </div></div>

    <div class="cell"><div class="card">
      <img src="/images/trainer3.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Ron Swanson</b></h4>
        <p>ron@gitpumped.co.uk</p>
        <p>07777000003</p>
      </div>
    </div>

  </div>
</div>
