<h1>All Classes</h1><br>

<table>
    <thead>
        <tr>
          <th>Class</th>
          <th>Time</th>
          <th>Date</th>
        </tr>
    </thead>

    <tbody>
        <% @sessions.each do |session| %>
        <tr>
            <td><a href="/sessions/<%= session.id %>"><%= session.gymclass() %> class</a></td>
            <td><%= session.class_time() %></td>
            <td><%= session.class_date() %></td>
        </tr>
        <% end %>
    </tbody>

</table>
