<h1>All classes</h1>

<% @sessions.each do |session| %>

  <p><%= session.gymclass_name() %> class at <%= session.class_time() %> on <%= session.class_date() %> </p>

  <p> <a href="/sessions/<%= session.id %>">Show Session</a> </p>
  <hr />
<% end %>
